<div class="col-xl-12">

    <app-card cardTitle="Liste Modèle Véhicule" [options]="false">
      <button _ngcontent-oip-c126="" type="button" (click)="modalDefaultAjout.show() ;getdata('','')"
        class="btn btn-info ng-tns-c99-7 feather icon-plus marginbottom"><i _ngcontent-oip-c126=""></i>
        Nouveau
      </button>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="rechercherligne">
              <th></th>
              <th >
              <!-- <th *ngFor="let key of objectKeys(itemsVariable)"> -->
                <div class="form-group">
                  <input type="text" placeholder="Recherche" class="form-control" id="rech">
                </div>
              </th>
              <th >
                <div class="form-group" >
                  <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="typ" >
                    <option value ="" selected> Selectionner une Véhicule </option>
                    <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
                  </select>
                </div>
                <!-- <div class="form-group">
                  <select class=" form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option value ="" selected> Selectionner un type </option>
                    <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
                  </select>
                </div> -->
              </th>
              <th>
                <button _ngcontent-qxg-c126="" type="button" class="btn btn-icon btn-warning ng-tns-c99-9"
                  (click)="getsearch();">
                  <i _ngcontent-qxg-c126="" class="feather icon-search"></i>
                </button>
                <button _ngcontent-acs-c126="" type="button" class="btn btn-icon btn-secondary ng-tns-c99-9"
                  (click)="notsearch();">
                  <i _ngcontent-acs-c126="" class="feather icon-x"></i>
                </button>
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th> Date Expiration </th>
              <th> Montant visite Technq </th>
              <th>Date Heure RDV  </th>
              <th> ID Service mines </th>
              <th> ID Véhicule </th>
              <th> Date Prochaine Visite </th>
              <th> Résultat Visite Techniq </th>
              <th> Notes </th>
              <!-- <th *ngFor="let key of objectKeys(itemsVariable)">
                <div class="th-tableau" (click)="changeCroissante(key)">
                  {{items[key]}}
                  <div class="buttons-croissante">
                    <i class="fas fa-caret-up croissante {{key}}-croissante"></i>
                    <i class="fas fa-caret-down croissante {{key}}-croissante"></i>
                  </div>
                </div>
              </th> -->
              <th class="grid-col grid-col--fixed-right" style="background-color:#f6f6f6 ;">Action</th>
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let item of dataArray ; index as i">
              <td>
                {{i +1 }}
              </td>
              <td>
               {{item.libelle}}
  
              </td>
              <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
              <td>
                  <button _ngcontent-ccb-c126="" type="button"
                  class="btn btn-icon btn-success ng-tns-c99-9 feather icon-edit"
                  (click)="modalDefault.show() ; getdata(item.libelle,item._id)">
                </button>
  
                <!-- <button _ngcontent-soa-c126="" type="button"
                  class="btn btn-icon btn-danger ng-tns-c99-9 feather icon-trash-2"
                  (click)="supprimertypevehicule(item._id , i)
                  ">
                  <i _ngcontent-soa-c126=""></i>
                </button> -->
  
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  
  <!-- modal modif -->
  <app-ui-modal #modalDefault>
    <div class="app-modal-header">
      <h5 class="modal-title">Modifier Visite Technique</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="modalDefault.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body">
      <!-- <form #f="ngForm" (ngSubmit)="modifdata(f)">
        <div class="form-group">
            <label for="inputAddress">Date Expiration</label>
            <input type="date" class="form-control" placeholder="Enter Date Expiration" required name="date-expiration"
              #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.date-expiration" ngModel>
          </div>
          <div class="form-group">
              <label for="inputAddress">Montant Visite Technique</label>
              <input type="text" class="form-control" placeholder="Enter Montant" required name="montant-vis-techn"
                #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.montant-vis-techn" ngModel>
            </div>
            <div class="form-group">
              <label for="inputAddress">Date/Heure RDV</label>
              <input type="text" class="form-control" placeholder="Enter Date/Heure RDV" required name="date/heure-rdv"
                #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.date/heure-rdv" ngModel>
            </div>
    
          <div>
            <label for="inputAddress">Service</label>
            <div class="form-group" >
              <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="typ" >
                <option value ="" selected> Selectionner une Service Mines </option>
                 <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> 
              </select>
            </div> -->
            <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value ="" selected> Selectionner un type </option>
              <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
            </select> -->
          <!-- </div>
          <div>
              <label for="inputAddress">Véhicule</label>
              <div class="form-group" >
                <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="typ" >
                  <option value ="" selected> Selectionner ID Véhicule</option> -->
                  <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
                <!-- </select>
              </div> -->
              <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value ="" selected> Selectionner un type </option>
                <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
              </select> -->
            <!-- </div>
            <div class="form-group">
              <label for="inputAddress">Date Prochaine Visite</label>
              <input type="date" class="form-control" placeholder="Enter Date Prochaine" required name="date-prochaine-vis"
                #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.date-prochaine-vis" ngModel>
            </div>
            <div class="form-group">
              <label for="inputAddress">Resultat Viste Technique</label>
              <input type="text" class="form-control" placeholder="Enter Resultat" required name="resultat-visite-techn"
                #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.resultat-visite-techn" ngModel>
            </div>
  
            <div class="form-group">
              <label for="inputAddress">Notes</label>
              <input type="text" class="form-control" placeholder="Commentez" required name="notes-visite-techn"
                #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.notes-visite-techn" ngModel>
            </div>
          <div class="alert alert-danger" *ngIf="messageErreur">
            {{messageErreur}}
          </div>
          <div class="alert alert-success" *ngIf="messageSuccess">
            {{messageSuccess}}
          </div>
         
        <button type="submit" class="btn btn-primary" id="save" data-dismiss="modalsave">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
      </form> --> -->
    </div>
  </app-ui-modal>
  
  <!--modal ajout-->
  <app-ui-modal #modalDefaultAjout>
    <div class="app-modal-header">
      <h5 class="modal-title">Ajouter Visite Technique</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="modalDefaultAjout.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <form #fa="ngForm" (ngSubmit)="(fa)">
        <div class="form-group">
          <label for="inputAddress">Date Expiration</label>
          <input type="date" class="form-control" placeholder="Enter Date Expiration" required name="date_expiration"
            #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.date_expiration" ngModel>
        </div>
        <div class="form-group">
            <label for="inputAddress">Montant Visite Technique</label>
            <input type="text" class="form-control" placeholder="Enter Montant" required name="montant_vis_techn"
              #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.montant_vis_techn" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Date/Heure RDV</label>
            <input type="datetime-local" class="form-control" placeholder="Enter Date/Heure RDV" required name="date_heure_rdv"
              #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.date_heure_rdv" ngModel>
          </div>
  
        <div>
          <label for="inputAddress">Service</label>
          <div class="form-group" >
            <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_services_mins" >
              <option value ="" selected> Selectionner une Service Mines </option>
              <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
            </select>
          </div>
          <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option value ="" selected> Selectionner un type </option>
            <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
          </select> -->
        </div>
        <div>
            <label for="inputAddress">Véhicule</label>
            <div class="form-group" >
              <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_vehicule" >
                <option value ="" selected> Selectionner ID Véhicule</option>
                <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
              </select>
            </div>
            <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value ="" selected> Selectionner un type </option>
              <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
            </select> -->
          </div>
          <div class="form-group">
            <label for="inputAddress">Date Prochaine Visite</label>
            <input type="date" class="form-control" placeholder="Enter Date Prochaine" required name="date_prochaine_vis"
              #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.date_prochaine_vis" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Resultat Viste Technique</label>
            <input type="text" class="form-control" placeholder="Enter Resultat" required name="resultat_visite_techn"
              #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.resultat_visite_techn" ngModel>
          </div>

          <div class="form-group">
            <label for="inputAddress">Notes</label>
            <input type="text" class="form-control" placeholder="Commentez" required name="notes_visite_techn"
              #libelleajout="ngModel" [(ngModel)]="dataModeleVehicule.notes_visite_techn" ngModel>
          </div>
        <div class="alert alert-danger" *ngIf="messageErreur">
          {{messageErreur}}
        </div>
        <div class="alert alert-success" *ngIf="messageSuccess">
          {{messageSuccess}}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalDefaultAjout.hide()">Fermer</button>
      </form>
    </div>
  </app-ui-modal>
  

