<div class="col-xl-12">

    <app-card cardTitle="Liste Modèle Véhicule" [options]="false">
      <button _ngcontent-oip-c126="" type="button" (click)="modalDefaultAjout.show() ;getdata('','')"
        class="btn btn-info ng-tns-c99-7 feather icon-plus marginbottom"><i _ngcontent-oip-c126=""></i>
        Nouveau
      </button>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="rechercherligne">
              <th></th>
              <th >
              <!-- <th *ngFor="let key of objectKeys(itemsVariable)"> -->
                <div class="form-group">
                  <input type="text" placeholder="Recherche" class="form-control" id="rech">
                </div>
              </th>
              <th >
                <div class="form-group" >
                  <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="typ" >
                    <option value ="" selected> Selectionner une Véhicule </option>
                    <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
                  </select>
                </div>
                <!-- <div class="form-group">
                  <select class=" form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option value ="" selected> Selectionner un type </option>
                    <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
                  </select>
                </div> -->
              </th>
              <th>
                <button _ngcontent-qxg-c126="" type="button" class="btn btn-icon btn-warning ng-tns-c99-9"
                  (click)="getsearch();">
                  <i _ngcontent-qxg-c126="" class="feather icon-search"></i>
                </button>
                <button _ngcontent-acs-c126="" type="button" class="btn btn-icon btn-secondary ng-tns-c99-9"
                  (click)="notsearch();">
                  <i _ngcontent-acs-c126="" class="feather icon-x"></i>
                </button>
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th> Date Debut </th>
              <th>Id Compagnie assurance  </th>
              <th>id Vehicule</th>
              <th> id type Assurance </th>
              <th> montant Assurance </th>
              <th> nb jours alerte </th>
              <th> arret contrat </th>
              <th> date arret contrat </th>
              <th> Motif arret contrat </th>
              <th>num assurance </th>
              <th>Document Scan </th>
              <th> Notes </th>
              <!-- <th *ngFor="let key of objectKeys(itemsVariable)">
                <div class="th-tableau" (click)="changeCroissante(key)">
                  {{items[key]}}
                  <div class="buttons-croissante">
                    <i class="fas fa-caret-up croissante {{key}}-croissante"></i>
                    <i class="fas fa-caret-down croissante {{key}}-croissante"></i>
                  </div>
                </div>
              </th> -->
              <th class="grid-col grid-col--fixed-right" style="background-color:#f6f6f6 ;">Action</th>
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let item of dataArray ; index as i">
              <td>
                {{i +1 }}
              </td>
              <td>
               {{item.libelle}}
  
              </td>
              <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                 {{item.libelle}}
    
                </td>
                <td>
                 {{item.libelle}}
    
                </td>
                <td>
                 {{item.libelle}}
    
                </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
               <td>
                {{item.libelle}}
   
               </td>
              <td>
                  <button _ngcontent-ccb-c126="" type="button"
                  class="btn btn-icon btn-success ng-tns-c99-9 feather icon-edit"
                  (click)="modalDefault.show() ; getdata(item.libelle,item._id)">
                </button>
  
                <!-- <button _ngcontent-soa-c126="" type="button"
                  class="btn btn-icon btn-danger ng-tns-c99-9 feather icon-trash-2"
                  (click)="supprimertypevehicule(item._id , i)
                  ">
                  <i _ngcontent-soa-c126=""></i>
                </button> -->
  
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  
  <!-- modal modif -->
  <app-ui-modal #modalDefault>
    <div class="app-modal-header">
      <h5 class="modal-title">Modifier Assurance</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="modalDefault.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body">
      <!-- <form #f="ngForm" (ngSubmit)="modifdata(f)">
       <div class="form-group">
          <label for="inputAddress">Date Debut</label>
          <input type="date" class="form-control" placeholder="Enter Date debut" required name="date_debut"
            #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.date_debut" ngModel>
        </div>
        <div class="form-group">
            <label for="inputAddress">Date fin</label>
            <input type="date" class="form-control" placeholder="Enter Date fin" required name="date_fin"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.date_fin" ngModel>
          </div>
          <div>
            <label for="inputAddress">Compagnie assurance</label>
            <div class="form-group" >
              <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_compagnie_ass" >
                <option value ="" selected> Selectionner ID Compagnie assurance</option>
                 <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> 
            </select>
        </div>
         <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value ="" selected> Selectionner un type </option>
          <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
        </select> -->
      <!-- </div>
      <div>
        <label for="inputAddress">Véhicule</label>
        <div class="form-group" >
          <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_vehicule" >
            <option value ="" selected> Selectionner ID Véhicule</option>
            <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> 
          </select>
        </div> -->
        <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value ="" selected> Selectionner un type </option>
          <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
        </select> -->
      <!-- </div>
      <div>
        <label for="inputAddress">Type Assurance</label>
        <div class="form-group" >
          <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_type_ass" >
            <option value ="" selected> Selectionner ID Véhicule</option>
             <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> 
          </select>
        </div> -->
        <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value ="" selected> Selectionner un type </option>
          <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
        </select> -->
      <!-- </div>
      <div class="form-group">
        <label for="inputAddress">Montant assurance</label>
        <input type="text" class="form-control" placeholder="Enter Resultat" required name="montant_ass"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.montant_ass" ngModel>
      </div>
    <div class="form-group">
        <label for="inputAddress">Montant Visite Technique</label>
        <input type="text" class="form-control" placeholder="Enter Montant" required name="montant_vis_techn"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.nbre_jours_alerte" ngModel>
      </div>
      <div class="form-group">
        <label for="inputAddress">Nombre j/alerte</label>
        <input type="text" class="form-control" placeholder="Enter Montant" required name="nbre_jours_alerte"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.montant_vis_techn" ngModel>
      </div>

      <div class="form-group">
        <label for="inputAddress">Arrete Contrat</label>
        <input type="text" class="form-control" placeholder="Enter Montant" required name="arret_contrat"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.arret_contrat" ngModel>
      </div>
      <div class="form-group">
        <label for="inputAddress">Date Arrete Contrat</label>
        <input type="date" class="form-control" placeholder="Enter Date debut" required name="date_arret_contrat"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.date_arret_contrat" ngModel>
      </div>
      <div class="form-group">
        <label for="inputAddress">Motif arrete Contrat</label>
        <input type="text" class="form-control" placeholder="Commentez" required name="notes_visite_techn"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.notes_visite_techn" ngModel>
      </div>
      <div class="form-group">
        <label for="inputAddress">Num assurance</label>
        <input type="text" class="form-control" placeholder="Commentez" required name="num_ass"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.num_ass" ngModel>
      </div>
      <div class="form-group">
        <label for="inputAddress">Scanner Assurence</label>
        <input type="text" class="form-control" placeholder="Commentez" required name="sacnner_ass"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.sacnner_ass" ngModel>
      </div>
      <div class="form-group">
        <label for="inputAddress">Notes</label>
        <input type="text" class="form-control" placeholder="Commentez" required name="notes_ass"
          #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.notes_ass" ngModel>
      </div>
         
          <div class="alert alert-danger" *ngIf="messageErreur">
            {{messageErreur}}
          </div>
          <div class="alert alert-success" *ngIf="messageSuccess">
            {{messageSuccess}}
          </div>
         
        <button type="submit" class="btn btn-primary" id="save" data-dismiss="modalsave">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
      </form> --> 
    </div>
  </app-ui-modal>
  
  <!--modal ajout-->
  <app-ui-modal #modalDefaultAjout>
    <div class="app-modal-header">
      <h5 class="modal-title">Ajouter Assurance</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="modalDefaultAjout.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <form #fa="ngForm" (ngSubmit)="(fa)">
        <div class="form-group">
          <label for="inputAddress">Date Debut</label>
          <input type="date" class="form-control" placeholder="Enter Date debut" required name="date_debut"
            #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.date_debut" ngModel>
        </div>
        <div class="form-group">
            <label for="inputAddress">Date fin</label>
            <input type="date" class="form-control" placeholder="Enter Date fin" required name="date_fin"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.date_fin" ngModel>
          </div>
          <div>
            <label for="inputAddress">Compagnie assurance</label>
            <div class="form-group" >
              <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_compagnie_ass" >
                <option value ="" selected> Selectionner ID Compagnie assurance</option>
                <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
              </select>
            </div>
            <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value ="" selected> Selectionner un type </option>
              <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
            </select> -->
          </div>
          <div>
            <label for="inputAddress">Véhicule</label>
            <div class="form-group" >
              <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_vehicule" >
                <option value ="" selected> Selectionner ID Véhicule</option>
                <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
              </select>
            </div>
            <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value ="" selected> Selectionner un type </option>
              <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
            </select> -->
          </div>
          <div>
            <label for="inputAddress">Type Assurance</label>
            <div class="form-group" >
              <select class=" form-control form-select-sm" aria-label=".form-select-sm example" id="id_type_ass" >
                <option value ="" selected> Selectionner ID Véhicule</option>
                <!-- <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option> -->
              </select>
            </div>
            <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value ="" selected> Selectionner un type </option>
              <option *ngFor="let item of dataArrayTypeVehicule " value="{{item._id}}">{{item.libelle}}</option>
            </select> -->
          </div>
          <div class="form-group">
            <label for="inputAddress">Montant assurance</label>
            <input type="text" class="form-control" placeholder="Enter Resultat" required name="montant_ass"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.montant_ass" ngModel>
          </div>
        <div class="form-group">
            <label for="inputAddress">Montant Visite Technique</label>
            <input type="text" class="form-control" placeholder="Enter Montant" required name="montant_vis_techn"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.nbre_jours_alerte" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Nombre j/alerte</label>
            <input type="text" class="form-control" placeholder="Enter Montant" required name="nbre_jours_alerte"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.montant_vis_techn" ngModel>
          </div>

          <div class="form-group">
            <label for="inputAddress">Arrete Contrat</label>
            <input type="text" class="form-control" placeholder="Enter Montant" required name="arret_contrat"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.arret_contrat" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Date Arrete Contrat</label>
            <input type="date" class="form-control" placeholder="Enter Date debut" required name="date_arret_contrat"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.date_arret_contrat" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Motif arrete Contrat</label>
            <input type="text" class="form-control" placeholder="Commentez" required name="notes_visite_techn"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.notes_visite_techn" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Num assurance</label>
            <input type="text" class="form-control" placeholder="Commentez" required name="num_ass"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.num_ass" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Scanner Assurence</label>
            <input type="text" class="form-control" placeholder="Commentez" required name="sacnner_ass"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.sacnner_ass" ngModel>
          </div>
          <div class="form-group">
            <label for="inputAddress">Notes</label>
            <input type="text" class="form-control" placeholder="Commentez" required name="notes_ass"
              #libelleajout="ngModel" [(ngModel)]="dataAssuranceVehicule.notes_ass" ngModel>
          </div>
        <div class="alert alert-danger" *ngIf="messageErreur">
          {{messageErreur}}
        </div>
        <div class="alert alert-success" *ngIf="messageSuccess">
          {{messageSuccess}}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="modalDefaultAjout.hide()">Fermer</button>
      </form>
    </div>
  </app-ui-modal>
  


